<div class="card" style="margin: 1rem; padding: 2rem;" *ngFor="let hero of heroes.data.results">    
    <div class="row no-gutters">
            
            <div class="col-md-2">
                <img src="" style ="max-width: 100px;" class="card-img" alt="...">
            </div>
            <div class="col-md-10">
                    <div class="class-body" >
                        <h5 class="card-title">{{hero.name}}</h5>
                        <h5>Tests</h5>
                        <p >test</p>
                        <p >test</p>
                        <h6 class="card-subtitle mb-2 text-muted">Tests</h6>
                    </div>
            </div>
    </div>
</div>
