<div class="card" style="margin: 1rem; padding: 2rem;" *ngFor="let hero of heroes.data.results">    
    <div class="row no-gutters">
            
            <div class="col-md-2">
                <img src="{{hero.thumbnail.path}}.jpg" style ="max-width: 100px;" class="card-img" alt="...">
            </div>
            <div class="col-md-10">
                    <div class="class-body" >
                        <h5 class="card-title">{{hero.name}}</h5>
                        <p >{{hero.description}}</p>
                    </div>
            </div>
    </div>
</div>
